
<div class="row text-center">
    <h1>Neill's Choir Mixer <i class="fa fa-music"></i></h1>
</div>

<div id="song-select-row" class="row text-center">
    <div class="col-md-6 col-md-offset-2">
        <select name="song-select" id="song-select" class="form-control">
            <option value="">Select a song...</option>
        </select>
    </div>
    <div class="col-md-2">
        <button class="btn btn-primary btn-block" id="pickSongButton">Go!</button>
    </div>
</div>

<div class="row text-center">
    <p>Play multiple mp3s with web audio, point-marking, volume-mixing, looping, mute/solo groups... </p>
    <h2 id="songTitle">Song title goes here...</h2>

    <button  class="btn btn-danger" (click)="demoPlay()">Demo Play</button>
    All loaded: {{allLoaded}}
</div>

<div class="row">

    <div id="controlset" class="col-md-6 col-lg-8">
        <app-channel *ngFor="let channel of channels"></app-channel>
    </div>

    <div class="col-md-6 col-lg-4">
        <div id="transportbuttons">
            <ul class="list-unstyled">
                <li>
                    <button id="stopButton"     class="btn btn-danger" title="play button"><i class="fa fa-stop"></i></button>
                    <button id="playButton"     class="btn btn-primary" title="stop button"><i class="fa fa-play"></i></button>
                    <input  id="snapshotName" type="text" value="" class="btn btn-default" placeholder="section name..."/>
                    <button id="snapshotButton" class="btn btn-warning">mark <i class="fa fa-flag"></i></button>
                </li>
            </ul>
        </div>
        <div id="morebuttons">
            <ul class="list-unstyled">
                <li>
                    <button id="randomiseButton" class="btn btn-default">Randomise <i class="fa fa-random"></i></button>
                    <button id="clearButton"     class="btn btn-default">Clear</button>
                </li>
            </ul>
        </div>

        <p>position:
            <input id="positionSlider" type="range" min="0" max="100" value="100" step="0.3">
            <input id="positionOutput" type="text" value="??" />
            <input id="positionMonitor" type="text" value="??" />
        </p>

        <p>playbackRate:
            <input id="playbackRateSlider" type="range" min="0.7" max="1.5" value="1" step="0.01">
            <input id="playbackRateOutput" type="text" value="1" />
        </p>

        <div>
            <h3>Section start links:</h3>
            <ul id="snapshots" class="list-unstyled">
            </ul>
        </div>

    </div> <!-- col-lg-8 -->
  </div> <!-- row --> 
